<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Users" subheader="List of all Users">
    <div class="p-grid">
      <div class="p-col-md-8 p-col-sm-12">
        <p-toolbar>
          <div class="p-toolbar-group-left m-3 admin-toolbar-group">
            <p-button
              label="New"
              icon="pi pi-plus"
              styleClass="p-button-success admin-button"
              class="p-button p-button-success"
              routerLink="form"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <p-table
        styleClass="admin-responsive-table"
        [value]="user"
        [tableStyle]="{ 'min-width': '10rem' }"
        responsiveLayout="stack"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">Name <p-sortIcon></p-sortIcon></th>
            <th>Email</th>
            <th>Is admin</th>
            <th>country</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr class="admin-table-row">
            <td>
              <span class="admin-cell-label">Name</span>
              <span class="admin-cell-value">{{ user.name }}</span>
            </td>
            <td>
              <span class="admin-cell-label">Email</span>
              <span class="admin-cell-value">{{ user.email }}</span>
            </td>
            <td>
              <span class="admin-cell-label">Is admin</span>
              <span class="admin-cell-value">
                <p-tag
                  *ngIf="user.isAdmin"
                  severity="success"
                  icon="pi pi-check"
                  [rounded]="true"
                ></p-tag>
                <span *ngIf="!user.isAdmin">
                  <p-tag
                    severity="danger"
                    icon="pi pi-times"
                    [rounded]="true"
                  ></p-tag>
                </span>
              </span>
            </td>
            <td>
              <span class="admin-cell-label">Country</span>
              <span class="admin-cell-value">{{
                getCountryName(user.country)
              }}</span>
            </td>
            <td>
              <span class="admin-cell-label">Actions</span>
              <span class="admin-cell-value admin-action-group">
                <p-button
                  icon="pi pi-trash"
                  (onClick)="deleteUser(user.id)"
                  styleClass="p-button-danger admin-action-button"
                  class="mr-3"
                ></p-button>
                <p-button
                  icon="pi pi-pencil"
                  styleClass="p-button-success admin-action-button"
                  (onClick)="updateUser(user.id)"
                  class=""
                ></p-button>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-card>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
