<div class="admin-page">
  <p-card header="Dashboard" subheader="Latest update">
    <div class="grid">
      <div class="col-3">
        <p-card styleClass="d-order">
          <div class="d-item">
            <div>
              <i class="pi pi-shopping-cart"></i><br />
              <span class="name">Orders</span>
            </div>
            <span class="number">25</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-users">
          <div class="d-item">
            <div>
              <i class="pi pi-users"></i><br />
              <span class="name">Users</span>
            </div>
            <span class="number">25</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-totalOrders">
          <div class="d-item">
            <div>
              <i class="pi pi-dollar"></i><br />
              <span class="name">Total orders</span>
            </div>
            <span class="number">{{ '25' | currency}}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-product">
          <div class="d-item">
            <div>
              <i class="pi pi-briefcase"></i><br />
              <span class="name">Products</span>
            </div>
            <span class="number">25</span>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
