<ng-shop-messages></ng-shop-messages>
<header class="shop-header">
  <div class="shop-header__bar">
    <a
      class="shop-header__brand"
      routerLink="/"
      [attr.aria-label]="'header.goHome' | translate"
    >
      <img class="shop-header__logo" src="assets/imgs/logo.png" alt="Ng Shop logo" />
    </a>

    <button
      class="shop-header__toggle"
      type="button"
      [attr.aria-expanded]="isNavOpen"
      aria-controls="shop-header-menu"
      [attr.aria-label]="'header.toggleNavigation' | translate"
      (click)="toggleNav()"
    >
      <i class="pi" [ngClass]="isNavOpen ? 'pi-times' : 'pi-bars'"></i>
    </button>

    <div id="shop-header-menu" class="shop-header__content" [class.is-open]="isNavOpen">
      <ng-shop-nav (linkClick)="closeNav()"></ng-shop-nav>

      <div class="shop-header__actions" (click)="closeNav()">
        <button
          type="button"
          class="shop-header__language"
          [attr.aria-label]="'header.switchLanguage' | translate"
          (click)="toggleLanguage()"
        >
          <i class="pi pi-globe"></i>
          <span>{{ ((currentLanguage$ | async) || 'en') | uppercase }}</span>
        </button>

        <order-cart-icon></order-cart-icon>
      </div>
    </div>
  </div>
</header>
