<div class="admin-sidebar">
  <div class="logo">
   <a routerLink="/"> <img src="../../../assets/imgs/logo.png"  alt="" /></a>
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/"><i class="pi pi-home"></i>Dashbord</a>
      </li>
      <li>
        <a routerLink="/product"><i class="pi pi-briefcase"></i>Product</a>
      </li>
      <li>
        <a routerLink="/categories"><i class="pi pi-list"></i>Category</a>
      </li>
      <li>
        <a routerLink="/orders"><i class="pi pi-shopping-cart"></i>Orders</a>
      </li>
      <li>
        <a routerLink="/user"><i class="pi pi-users"></i>Users</a>
      </li>
      <li>
        <a routerLink="/log-out" class="log-out " (click)="logOut()"><i class="pi pi-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</div>
