<div class="admin-sidebar" [class.admin-sidebar--open]="isOpen">
  <div class="logo">
   <a routerLink="/" (click)="closeSidebar()"> <img src="../../../assets/imgs/logo.png"  alt="" /></a>
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/" (click)="closeSidebar()"><i class="pi pi-home"></i>Dashbord</a>
      </li>
      <li>
        <a routerLink="/product" (click)="closeSidebar()"><i class="pi pi-briefcase"></i>Product</a>
      </li>
      <li>
        <a routerLink="/categories" (click)="closeSidebar()"><i class="pi pi-list"></i>Category</a>
      </li>
      <li>
        <a routerLink="/orders" (click)="closeSidebar()"><i class="pi pi-shopping-cart"></i>Orders</a>
      </li>
      <li>
        <a routerLink="/user" (click)="closeSidebar()"><i class="pi pi-users"></i>Users</a>
      </li>
      <li>
        <a routerLink="/log-out" class="log-out " (click)="logOut()"><i class="pi pi-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</div>
